@page "/categories"
@model InventoryClient.Components.Pages.Categories

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <h3>Category</h3>
</div>
</body>
</html>