@page "/"

<PageTitle>Home</PageTitle>

<div class="d-flex justify-center align-center vh-100">
    <MudText Typo="Typo.h3" GutterBottom="true">Inventory Management</MudText>
    <MudText Class="mb-8">Welcome to your new app, powered by MudBlazor and the .NET 8 Template!</MudText>
</div>

<MudGrid Spacing="14" Justify="Justify.Center">
    <MudItem>
        <MudCard Outlined="true" >
            <MudCardContent>
                <MudText>Products</MudText>
                <MudText Typo="Typo.body2">Edit or add products</MudText>
            </MudCardContent>
            <MudCardActions>
                <MudButton Variant="Variant.Text" Color="Color.Primary">Products</MudButton>
            </MudCardActions>
        </MudCard>
    </MudItem>
    <MudItem>
        <MudCard Outlined="true" >
            <MudCardContent>
                <MudText>Categories</MudText>
                <MudText Typo="Typo.body2">Edit or add categories</MudText>
            </MudCardContent>
            <MudCardActions>
                <MudButton Variant="Variant.Text" Color="Color.Primary">Categories</MudButton>
            </MudCardActions>
        </MudCard>
    </MudItem>
    <MudItem>
        <MudCard Outlined="true" >
            <MudCardContent>
                <MudText>Categories</MudText>
                <MudText Typo="Typo.body2">Edit or add makes</MudText>
            </MudCardContent>
            <MudCardActions>
                <MudButton Variant="Variant.Text" Color="Color.Primary">Makes</MudButton>
            </MudCardActions>
        </MudCard>
    </MudItem>
    <MudItem>
        <MudCard Outlined="true" >
            <MudCardContent>
                <MudText>Items</MudText>
                <MudText Typo="Typo.body2">Edit or add Inventory Items</MudText>
            </MudCardContent>
            <MudCardActions>
                <MudButton Variant="Variant.Text" Color="Color.Primary">
                    <MudLink href="/items">Items</MudLink>
                </MudButton>
            </MudCardActions>
        </MudCard>
    </MudItem>
</MudGrid>