@page "/ProductEdit"
@using InventoryClient.Integrations
@using InventoryClient.Integrations.Interfaces
@inject IProductIntegration Integration
@inject NavigationManager Navigation
@inject ISnackbar Snackbar


<h3>ProductEdit</h3>

@code {
    
}